a.button-component div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    white-space: nowrap;
}

a.button-component.dark div {
    color: var(--black);
    background-color: var(--yellow);
    transition: background-color 1s;
}

a.button-component.light div {
    color: var(--black);
    background-color: var(--purple);
}

a.button-component.dark.inav div::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    background-color: aqua;
    transition: width 1.5s;
}

a.button-component.dark.inav div:hover::after {
    width: 100%;
}

a.button-component.light.inav div::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    height: 2px;
    background-color: var(--black);
    transition: width 1.5s;
}

a.button-component.light.inav div:hover::after {
    width: 100%;
}

a.button-component div span {
    line-height: 2.2rem;
}

a.button-component div svg{
    margin-left: 0.7rem;
}

a.button-component div svg path{
    fill: var(--black);
}
