div.container-about {
    min-height: 100vh;
    width: 100vw;
    padding: 8rem 23rem 0 23rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    transition: background-color 1s;
}

div.container-about.dark {
    color: var(--white);
    background-color: var(--black);
    /*background: radial-gradient(circle, var(--black), var(--black) 50%, var(--blue) 260%);*/
}

div.container-about.light {
    color: var(--black);
    background-color: var(--white);
    /*background: radial-gradient(circle, var(--white), var(--white) 50%, var(--black) 100%);*/
}

div.container-about div.content {
    width: 57rem;
}

div.container-about div.content h1 {
    font-family: Poppins sans-serif;
    font-size: 7rem;
    font-style: italic;
}

div.container-about.dark div.content h1 {
    color: var(--blue);
}

div.container-about.light div.content h1 {
    color: var(--black);
}

div.container-about div.content p {
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

div.container-about div.content div.personal-data {
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

div.container-about div.content div.personal-data span.label{
    color: var(--yellow);
    margin-right: 0.7rem;
    font-weight: 600;
    font-family: Poppins sans-serif;
}

div.container-about.dark div.content div.personal-data span.label{
    color: var(--yellow);
}

div.container-about.light div.content div.personal-data span.label{
    color: var(--black);
}


div.container-about div.perfil{
    position: relative;
    width: 75rem;
}

@keyframes left-right {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0px);
    }
}

@keyframes right-left {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0px);
    }
}

div.container-about div.perfil figure{
    width: 100%;
    display: flex;

}

div.container-about div.perfil figure:not(.developer){
    width: 100%;
    animation: left-right 3s infinite;
}

div.container-about div.perfil figure.quality{
    justify-content: flex-start;
}

div.container-about.light div.perfil figure.quality svg path{
    fill: var(--green)
}

div.container-about div.perfil figure.developer{
    justify-content: center;
}

div.container-about.light div.perfil figure.developer svg path{
    fill: var(--purple)
}

div.container-about div.perfil figure.software{
    justify-content: flex-end;
    animation: right-left 3s infinite;
}

div.container-about.light div.perfil figure.software svg path{
    fill: var(--green)
}

div.container-about div.perfil img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

@media screen and (max-width: 1680px) {
    div.container-about {
        padding: 8rem 10rem 0 10rem;
    }
}

@media screen and (max-width: 1280px) {
    div.container-about div.perfil{
        width: 50rem;
    }
    div.container-about div.perfil img{
        height: 35rem;
    }
    div.container-about div.perfil figure.quality svg,
    div.container-about div.perfil figure.software svg{
        height: 5rem;
    }

    div.container-about div.content h1{
        font-size: 5rem;
    }
}