div.main-container {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    padding: 8rem 23rem 0 23rem;
    display: flex;
    flex-direction: column;
}

div.main-container.dark {
    color: var(--white);
}

div.main-container.light {
    color: var(--black);
}

div.main-container div.home {
    height: calc(100vh - 8rem);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.main-container div.home div.content {
    margin-top: 23rem;
    width: 54.5rem;
    margin-left: 5.7rem;
}

div.main-container div.home div.content span.hi {
    font-size: 3rem;
    font-style: italic;
    color: var(--white);
    display: flex;
    flex-direction: column;
}

div.main-container.dark div.home div.content span.hi {
    color: var(--white);
}

div.main-container.light div.home div.content span.hi {
    color: var(--black);
}


div.main-container div.home div.content div.name {
    width: 47.1rem;
    position: relative;
}

div.main-container div.home div.content div.name span.text {
    display: inline-block;
    width: fit-content;
    font-size: 8rem;
    font-weight: 600;
    font-style: italic;
    color: var(--yellow);
}

div.main-container.dark div.home div.content div.name span.text {
    color: var(--yellow);
}

div.main-container.light div.home div.content div.name span.text {
    color: var(--black);
}


div.main-container div.home div.content div.name svg.icon {
    position: absolute;
    top: 4rem;
}

div.main-container div.home div.content div.name svg.icon-left {
    left: -5.3rem
}

div.main-container div.home div.content div.name svg.icon-right {
    right: -5.3rem
}

div.main-container div.home div.content p {
    font-size: 2rem;
    font-style: italic;
}

div.main-container div.home div.content p.enjoy {
    margin-top: 3rem;
}

div.main-container div.home div.content ul.links-cv {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 45rem;
    align-items: center;
    margin-top: 2rem;
}

div.main-container div.home div.content ul.links-cv li {
    height: 3rem;
}

div.main-container.dark div.home div.content ul.links-cv li:not(.download) svg path {
    fill: var(--white);
    transition: fill 1s;
}

div.main-container.dark div.home div.content ul.links-cv li:not(.download):hover svg path{
    fill: var(--blue);
}

div.main-container.light div.home div.content ul.links-cv li:not(.download) svg path {
    fill: var(--black);
    transition: fill 1s;
}

div.main-container.light div.home div.content ul.links-cv li:not(.download):hover svg path{
    fill: var(--green);
}

div.main-container div.home div.content ul.links-cv li.download {
    height: 4rem;
    width: 15rem;
}

div.main-container div.home div.model-3d {
    position: absolute;
    top: 0;
    left: 0;
    align-self: center;
    width: 100%;
    height: 100%;
    mix-blend-mode: hard-light;
    z-index: -3;
}

div.main-container.dark div.home div.model-3d {
    background-color: var(--black);
    transition: background-color 1s;
}

div.main-container.light div.home div.model-3d {
    background-color: var(--white);
    transition: background-color 1s;
}

div.main-container div.home div.model-3d .content {
    width: 100%;
    height: 100%;
}

/* Media query's*/

@media screen and (max-width: 1680px) {
    div.main-container {
        padding: 8rem 23rem 0 10rem;
    }

    div.main-container div.home div.content {
        margin-top: 17vh;
    }

    div.main-container div.home div.content span.hi {
        font-size: 2.5rem;
    }

    div.main-container div.home div.content div.name span.text {
        font-size: 7rem;
    }
    div.main-container div.home div.content div.name svg.icon {
        top: 3rem;
    }

    div.main-container div.home div.content div.name svg.icon-right {
        right: 0;
    }
}

@media screen and (max-width: 1180px) {
    div.main-container {
        padding: 8rem 23rem 0 3rem;
    }
}