div.main-container {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    padding: 8rem 23rem 0 23rem;
    display: flex;
    flex-direction: column;
}

div.main-container.dark {
    color: var(--white);
}

div.main-container.light {
    color: var(--black);
}

div.main-container div.home {
    height: calc(100vh - 8rem);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.main-container div.home div.content {
    margin-top: 26.5rem;
    width: 54.5rem;
    margin-left: 5.7rem;
}

div.main-container div.home div.content span.hi {
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
    color: var(--white);
    display: flex;
    flex-direction: column;
}

div.main-container.dark div.home div.content span.hi{
    color: var(--white);
}

div.main-container.light div.home div.content span.hi{
    color: var(--black);
}


div.main-container div.home div.content div.name {
    width: 47.1rem;
    position: relative;
}

div.main-container div.home div.content div.name span.text {
    display: inline-block;
    width: fit-content;
    font-size: 8rem;
    font-weight: 600;
    font-style: italic;
    color: var(--yellow);
}

div.main-container.dark div.home div.content div.name span.text{
    color: var(--yellow);
}

div.main-container.light div.home div.content div.name span.text{
    color: var(--black);
}


div.main-container div.home div.content div.name svg.icon {
    position: absolute;
    top: 4rem;
}

div.main-container div.home div.content div.name svg.icon-left {
    left: -5.3rem
}

div.main-container div.home div.content div.name svg.icon-right {
    right: -5.3rem
}

div.main-container div.home div.content p {
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
}

div.main-container div.home div.content p.enjoy {
    margin-top: 3rem;
}

div.main-container div.home div.model-3d{
    position: absolute;
    top: 0;
    left: 0;
    align-self: center;
    width: 100%;
    height: 100%;
    mix-blend-mode: hard-light;
    z-index: -3;
}

div.main-container.dark div.home div.model-3d{
    background-color: var(--black);
    transition: background-color 1s;
}

div.main-container.light div.home div.model-3d{
    background-color: var(--white);
    transition: background-color 1s;
}

div.main-container div.home div.model-3d .content{
    width: 100%;
    height: 100%;
}