@font-face {
  font-family: 'Poppins'; /* Puedes darle el nombre que desees */
  src: url('/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins'; /* Puedes darle el nombre que desees */
  src: url('/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}


@font-face {
  font-family: 'Poppins'; /* Puedes darle el nombre que desees */
  src: url('/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600; /* Peso de la fuente Semibold */
  font-style: normal;
}

@font-face {
  font-family: 'Poppins'; /* Puedes darle el nombre que desees */
  src: url('/Poppins-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600; /* Peso de la fuente Semibold */
  font-style: italic;
}


html{
  font-size: 62.5%;
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


:root {
  line-height: 1.5;
  font-weight: 400;
  --black: #2D2F2E;
  --yellow: #FCF8A1;
  --purple: #8d80d9;
  --green: #71ad0e;
  --blue: #00FFFFFF;
  --black-hard: #183a3b;
  --white: #d9d9d9;
  color-scheme: dark;
  color: var(--white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}